@import './global';

#background {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/background.jpg');
    filter: brightness(95%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
}

#main-landing {
    gap: 2rem;
    text-align: center;
    h1 {
        font-size: 10rem;
        font-style: italic;
        margin-bottom: 2.5rem;
        color: rgba(0, 0, 0, 0.8);
    }
    p {
        font-size: 1.25rem;
        line-height: 1.5rem;
        text-shadow: 2px 2px 2px rgb(255, 255, 255);
    }
    #button {
        padding: 1rem 2rem;
        border-radius: 25px;
        background-color: rgb(190, 79, 31);
        color: white;
        cursor: pointer;
    }
}
#timeline {
    position: relative;
    margin: 0 auto;
    width: 90vw;
    //height: 80vh; <- this one creats the timeline to be cut off (learning something new)
    .time-period {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 50%;
        margin-bottom: .5rem;
        .description {
            padding: 1.5rem 2.5rem;
            background-color: white;
            border-radius: 15px;
            h2 {
                margin-bottom: .5rem;
                color: rgb(255, 159, 85);
                font-size: 1.75rem;
            }
            p {
                font-size: 1.25rem;
                line-height: 1.75rem;
                span {
                    font-size: .85rem;
                    color: rgba(0, 0, 0, 0.5);
                    font-style: italic;
                }
                #only-mobile {
                    display: none;
                }
            }
        }
    }
    .time-period::after {
        z-index: 1;
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -17px;
        background-color: rgb(255, 213, 181);
        border: 4px solid white;
        top: 15px;
        border-radius: 50%;
    }
    .left {
        left: 0;
        text-align: right;
    }
    .right {
        left: 50%;
    }
    .right::after {
        left: -1rem;
    }
    .shorter {
        margin-bottom: -3.5rem;
    }
}
#timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
#gallery {
    background-color: rgba(255, 213, 181, 0.5);
    border-radius: 25px;
    width: fit-content;
    margin: auto;
    #center {
        width: fit-content;
        margin: auto;
        padding: 2rem;
    }
    .photo {
        display: inline-block;
        padding: .5rem;
    }
    img {
        width: 16rem;
        height: 16rem;
        object-fit: cover;
        border: 5px solid white;
    }
}

@media screen and (max-width: 1024px) {
    nav {
        ul {
            li {
                a {
                    font-size: 1.25rem;
                }
            }
        }
    }
    #main-landing {
        gap: 1rem;
        h1 {
            font-size: 6rem;
        }
        p {
            font-size: 1rem;
        }
    }
    #timeline {
        width: 85vw;
        .time-period {
            margin-bottom: -3.5rem;
            .description {
                padding: 1rem 1.25rem;
                h2 {
                    font-size: 1.25rem;
                }
                p {
                    font-size: .9rem;
                    line-height: 1.1rem;
                    br {
                        display: none;
                    }
                }
            }
        }
        .time-period::after {
            width: 15px;
            height: 15px;
            right: -12px;
        }
        .right::after {
            left: -12px;
        }
    }
}
@media screen and (max-width: 1366px) {
    nav {
        ul {
            li {
                a {
                    font-size: 1.25rem;
                }
            }
        }
    }
    #main-landing {
        gap: 1rem;
        h1 {
            font-size: 8rem;
        }
        p {
            font-size: 1rem;
        }
    }
    #timeline {
        width: 75vw;
        .time-period {
            .description {
                margin-bottom: -.5rem;
                h2 {
                    font-size: 1.35rem;
                }
                p {
                    font-size: 1rem;
                    line-height: 1.25rem;
                    br {
                        display: none;
                    }
                }
            }
        }
        .time-period::after {
            width: 15px;
            height: 15px;
            right: -12px;
        }
        .right::after {
            left: -12px;
        }
    }
}